.main-chart-card {
    height: 300px;
    width: 200px;
    margin-right: 13px;
    border-radius: 15px;
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
  }
  
  .main-chart-card:hover {
    transform: scale(1.1); /* Increase size on hover */
  }
  
  .main-card-container {
    display: flex;
    min-width: 80%;
    margin: 2%;
  }
  